<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О программе</title>
    <link rel="stylesheet" href="{% static '/style/css/mainstyle.css' %}">
    <link rel="stylesheet" href="{% static '/style/css/navigation.css' %}">
</head>
<body>
	{% block topmenu %}
	{% include 'rsz_system/navigation.html' %}
	{% endblock %}
    <h2>Авторство:</h2>
    <h4>Хаджимустафов Руслан</h4>
    <h4>Юрченко Иван</h4>
    <h4>Попов Кирилл</h4>
    <h4>Хохлов Сергей</h4>
    <h4>Правообладатель: ЦКМО МО РФ</h4>
    <br>
    <h4>2022 год</h4>
</body>
</html>